@using ProyectoFinal.Data;
@using ProyectoFinal.ViewModels;
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
    string estilos = "/css/styles2.css";
}
@section Estilos
    {
    <link rel="stylesheet" type="text/css" href="@estilos" />
}

@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
}

<div class="container">
        <div class="sub-body">
        <form asp-action="Register" id="FormularioCrear" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="body-personal-data">
                    <div class="title">
                        <h2>Registro de Usuarios</h2>
                    </div>                                     
                    <div class="sub-body-registro">                       
                        <div class="min-cont">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input name="Nombres" asp-for="Nombres" class="name" />
                        <span id="errorNombre" class="error" asp-validation-for="Nombres"></span>
                        </div>    
                        <div class="min-cont">
                        <label asp-for="Apellidos" ></label>
                        <input name="Apellidos" asp-for="Apellidos" class="last-name" />
                        <span id="errorApellido" class="error" asp-validation-for="Apellidos"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="NombreDireccion" class="control-label"></label>
                        <input name="NombreDireccion" asp-for="NombreDireccion" class="address" />
                        <span id="errorDireccion" class="error" asp-validation-for="NombreDireccion"></span>
                        </div>   
                        <div class="min-cont">
                        <label asp-for="idDepartamento"></label>
                        <select name="idDepartamento" asp-for="idDepartamento" id="Departamento" class="address-depto">
                            <option value="">--Seleccione Departamento--</option>
                        </select>
                        <span id="errorDepartamento" class="error" asp-validation-for="idDepartamento" class="text-danger"></span>
                    </div>  
                        <div class="min-cont">
                        <label asp-for="idMunicipioSelected"></label>
                        <select name="idMunicipioSelected" id="Municipio" asp-for="idMunicipioSelected" class="address-municipality">
                            <option value="">--Seleccione Municipio--</option>
                        </select>
                        <span id="errorMunicipio" class="error" asp-validation-for="idMunicipioSelected" class="text-danger"></span>
                    </div>  
                        <div class="min-cont">
                        <label asp-for="Date"></label>
                        <input name="Fecha" type="date" max="2005-01-01" min="1923-01-01" asp-for="Date" value="1980-01-01" class="date">
                        <span id="errorFecha" class="error" asp-validation-for="Date" class="text-danger"></span>
                        </div>                       
                        
                    </div>
                    
                    <div class="sub-body-registro2">
@*                         <div class="min-cont">
                            <label>Edad</label>
                            <input type="number" class="age">
                        </div> *@
                        <div class="min-cont">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input name="Telefono" type="number" asp-for="Telefono" class="number-ph" />
                        <span id="errorTelefono"  class="error" asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="CUI" class="control-label"></label>
                        <input name="Cui" type="number" asp-for="CUI" class="number-ph" />
                        <span id="errorCui" class="error" asp-validation-for="CUI" class="text-danger"></span>
                        </div>
                        <div class="min-cont">
                            <label>Genero</label>
                        <select name="Genero" class="gen">
                                <option value="">Seleccione un genero</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Masculino">Femenino</option>
                            </select>
                        <span asp-validation-for="Genero" id="errorGenero" class="error"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="email" />
                        <span asp-validation-for="EmailAddress" class="error"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="pass" />
                        <span asp-validation-for="Password" class="error"></span>
                        </div>

                    <div class="min-cont">
                        <label asp-for="SelectedRole">Rol</label>
                        <select name="SelectedRole" asp-for="SelectedRole" class="gen">
                            <option value=''>Seleccione un rol</option>
                            @foreach (var roleItem in Model.Roles)
                            {
                                <option value="@roleItem.Value">@roleItem.Text</option>
                            }
                        </select>
                        <span id="errorRole" asp-validation-for="SelectedRole" class="error" ></span>
                    </div>     

             </div>

                <div class="sub-body-registro3">
                    <div class="min-cont">
                        <label>Departamento de Trabajo</label>
                        <select name="SelectedDepartamento" class="Departament" id="departamentoPuesto" asp-for="SelectedDepartamento">
                            <option >--Seleccione un Departamento</option>
                        </select>
                        <span id="errorDepartamento" asp-validation-for="SelectedDepartamento" class="error"></span>
                    </div>
                    <div class="min-cont">
                        <label asp-for="SelectedPuesto">Puesto</label>
                        <select name="SelectedPuesto" id="Puesto" asp-for="SelectedPuesto" class="address-municipality">
                            <option>--Seleccione un puesto--</option>
                        </select>
                        <span id="errorPuesto" asp-validation-for="SelectedPuesto" class="error"></span>
                    </div>
                </div>

                <div class="professional-data-body">
                    <div class="title">
                        <h2>Datos Profesionales</h2>
                    </div> 
                    <div class="professional-data-sub-body">
                        <div class="min-cont">
                        <label asp-for="AntecedentesPenales">AntecedentesPenales</label>
                        <input asp-for="AntecedentesPenales" type="file" placeholder="Imagen" />
                        <span asp-validation-for="AntecedentesPenales"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="AntecedentesPoliciacos">AntecedentesPoliciacos</label>
                        <input asp-for="AntecedentesPoliciacos" type="file" placeholder="Imagen" />
                        <span asp-validation-for="AntecedentesPoliciacos"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="Fotografia">Imagen</label>
                        <input asp-for="Fotografia" type="file" placeholder="Imagen" />
                        <span asp-validation-for="Fotografia"></span>
                        </div>
                        <div class="min-cont">
                        <label asp-for="Diplomas">Imagen</label>
                        <input asp-for="Diplomas" type="file" placeholder="Imagen" />
                        <span asp-validation-for="Diplomas"></span>
                        </div>                        
                    </div>

                    <div class="professional-data-sub-body2">
                        <div class="min-cont">
                        <label asp-for="Titulos">Imagen</label>
                        <input asp-for="Titulos" type="file" placeholder="Imagen" />
                        <span asp-validation-for="Titulos"></span>
                        </div>
                    </div>   
                </div>

                <div class="marital-information-body">
                    <div class="title">
                        <h2>Datos Familiares</h2>
                    </div>
                    <div class="marital-information-sub-body">
                        <div class="min-cont">
                            <label>Nombres</label>
                            <input type="text" class="Name-conjugal">
                        </div>
                        <div class="min-cont">
                            <label>Apellidos</label>
                            <input type="text" class="last-name-conjugal">
                        </div>
                        <div class="min-cont">
                            <label>Parentesco</label>
                            <input type="text" class="relationship">
                        </div>
                        <div class="min-cont">
                            <label>Numero de DPI</label>
                            <input type="number" class="DPI-conjugal">
                        </div>
                    </div>
                </div>

                <div class="button-section">
                <input type="submit" class="Rbutton" value="Sign up" />
                    <input type="reset" asp-controller="Account" asp-action="Register" class="vbutton" value="Vaciar Formulario"/>
                </div>
            </form>
        </div>  
    </div>




    @* ACTUAL FORMULARIO *@
@* 
        <div class="sub-body">
            <form action="" class="form-registro">
                <div class="body-personal-data">
                    <div class="title">
                        <h2>Registro de Usuarios</h2>
                    </div>
                    <div class="sub-body-registro">
                        <div class="min-cont">
                            <label>Nombres</label>
                            <input type="text" class="name">
                        </div>
                        <div class="min-cont">
                            <label>Apellidos</label>
                            <input type="text" class="last-name">
                        </div>
                        <div class="min-cont">
                            <label>Direccion</label>
                            <input type="text" class="address">
                        </div>
                        <div class="min-cont">
                            <label>Departamento</label>
                            <input type="text" class="address-depto">
                        </div>
                        <div class="min-cont">
                            <label>Municipio</label>
                            <input type="text" class="address-municipality">
                        </div>
                        <div class="min-cont">
                            <label>Fecha de nacimiento</label>
                            <input type="date" class="date">
                        </div>

                    </div>

                    <div class="sub-body-registro2">
                        <div class="min-cont">
                            <label>Edad</label>
                            <input type="number" class="age">
                        </div>
                        <div class="min-cont">
                            <label>Numero de telefono</label>
                            <input type="tel" class="number-ph">
                        </div>
                        <div class="min-cont">
                            <label>Numero de DPI</label>
                            <input type="number" class="number-ph">
                        </div>
                        <div class="min-cont">
                            <label>Genero</label>
                            <select name="" class="gen">
                                <option value=""></option>
                                <option value="Masculino">Masculino</option>
                                <option value="Masculino">Femenino</option>
                            </select>
                        </div>
                        <div class="min-cont">
                            <label>Correo Electronico</label>
                            <input type="email" class="email" id="Email">
                        </div>
                        <div class="min-cont">
                            <label>Contraseña</label>
                            <input type="password" class="pass" id="Password">
                        </div>
                        <div class="min-cont">
                            <label>Rol</label>
                            <select name="" class="rol">
                                <option value=""></option>
                                <option value="Masculino">Administrador</option>
                                <option value="Masculino">Usuario</option>
                            </select>
                        </div>
                    </div>
                    <div class="sub-body-registro3">
                        <div class="min-cont">
                            <label>Puesto</label>
                            <input type="text" class="position">
                        </div>
                        <div class="min-cont">
                            <label>Departamento</label>
                            <input type="text" class="Departament">
                        </div>
                    </div>
                </div>

                <div class="professional-data-body">
                    <div class="title">
                        <h2>Datos Profesionales</h2>
                    </div>
                    <div class="professional-data-sub-body">
                        <div class="min-cont">
                            <label>Antecedentes penales</label>
                            <input type="file" >
                        </div>
                        <div class="min-cont">
                            <label>Antecedentes policiacos</label>
                            <input type="file" >
                        </div>
                        <div class="min-cont">
                            <label>Fotografia</label>
                            <input type="file" >
                        </div>
                        <div class="min-cont">
                            <label>Diplomas</label>
                            <input type="file" >
                        </div>
                    </div>

                    <div class="professional-data-sub-body2">
                        <div class="min-cont">
                            <label>Titulos</label>
                            <input type="file" >
                        </div>

                        <div class="min-cont">
                            <label>Fotografia DPI</label>
                            <input type="file">
                        </div>
                    </div>
                </div>

                <div class="marital-information-body">
                    <div class="title">
                        <h2>Datos Familiares</h2>
                    </div>
                    <div class="marital-information-sub-body">
                        <div class="min-cont">
                            <label>Nombres</label>
                            <input type="text" class="Name-conjugal">
                        </div>
                        <div class="min-cont">
                            <label>Apellidos</label>
                            <input type="text" class="last-name-conjugal">
                        </div>
                        <div class="min-cont">
                            <label>Parentesco</label>
                            <input type="text" class="relationship">
                        </div>
                        <div class="min-cont">
                            <label>Numero de DPI</label>
                            <input type="number" class="DPI-conjugal">
                        </div>
                    </div>
                </div>

                <div class="button-section">
                    <input type="submit" class="Rbutton" value="Registrar">
                    <input type="reset" class="vbutton" value="Vaciar formulario">
                </div>
            </form>
        </div>   *@


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/cascadadepartamentos.js"></script>
<script src="~/js/puesto.js"></script>
<script src="~/js/index.js"></script>