@using Microsoft.AspNetCore.Identity;
@model ProyectoFinal.ViewModels.ViewMensajesViewModel
@inject UserManager<AppUser> UserManager

@{
    var userName = User.Identity.Name;
    var userId = "";
    var userCUI = "";
    if (!string.IsNullOrEmpty(userName))
    {
        var user = await UserManager.FindByNameAsync(userName);
        if (user != null)
        {
            userId = user.Id;
            userCUI = user.CUI;
        }
    }

}
@{
    ViewData["Title"] = "Mensajes";
    string estilos = "~/css/General.css";
}

@section Estilos
    {
    <link rel="stylesheet" type="text/css" href="@estilos" />
}

@{
    ViewData["Title"] = "Mensajeria";
}

<div class="container">
    <div class="sub-body">
        <h2>Mensajes del Usuario: @Model.Usuario.UserName</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Contenido del Mensaje</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mensaje in Model.MensajesUsuario)
                {
                    <tr>
                        <td>@mensaje.Contenido</td>
                        <td>@mensaje.Estado</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-4">
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Regresar</a>
        </div>
    </div>
</div>