@{
    ViewData["Title"] = "Mensaje Enviado";
}

<div class="text-center">
    <h2>Mensaje Enviado con Éxito</h2>
    <p>Gracias por enviar tu mensaje. El administrador lo revisará pronto.</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Aceptar</a>
</div>

